
.board-cell-c0 {
    --cell-color: gray;
}

.board-cell-c1 {
    --cell-color: lightgray;
}

.board-cell {
    background-color: var(--cell-color);
    width: var(--cell-size);
    height: var(--cell-size);
}

.board-cell-selected {
    background-color: blue;
}

.board-cell-can-move {
    background-color: green;
    cursor: pointer;
}

.board-cell-can-capture {
    background-color: yellow;
}

.board-piece-container {
    margin: calc(calc(var(--cell-size) - var(--piece-diameter)) / 2);
}
