
.board-cell-c0 {
    --border-color: #000000;
    --cell-color: #3d850b;
}

.board-cell-c1 {
    --cell-color: #14290c;
    --border-color: #000000;
}

.board-cell {
    background-color: var(--cell-color);
    width: var(--cell-size);
    height: var(--cell-size);
    border: .2rem solid var(--border-color);
}

.board-cell-selected {
    background-color: #0a2076;
}

.board-cell-can-move {
    background-color: #8918aa;
    cursor: pointer;
}

.board-cell-can-capture {
    background-color: #e8c500;
}

.board-piece-container {
    margin: calc(calc(var(--cell-size) - var(--piece-diameter)) / 4);
}

@media only screen and (max-width: 660px) {
    .board-cell {
        border: .1rem solid var(--border-color);
    }
}

@media only screen and (max-width: 380px) {
    .board-piece-container {
        margin: 0;
    }
}
