.game-status-root {
    background-color: #ede5f2;
    border-radius: 1rem;
    padding: 1.5rem;
    display: inline-block;
    min-width: 15rem;
    font-family: cursive;
}

.turn-display {
    font-size: 25pt;
    margin-bottom: 2rem;
}

.capture-display > div {
    font-size: 15pt;
}

.capture-display > h2 {
    font-size: 20pt;
    text-decoration: underline;
}
