.game-status-root {
    background-color: #fbf7d1;
    border-radius: 1rem;
    padding: 1.5rem;
    display: inline-block;
    min-width: 14rem;
}

.turn-display {
    font-size: 25pt;
    margin-bottom: 2rem;
}

.capture-display {
    
}

.capture-display > h2 {
    font-size: 20pt;
    text-decoration: underline;
}
