.game-status-root {
    background-color: #ede5f2;
    border-radius: 1rem;
    padding: 1.5rem;
    display: inline-block;
    min-width: 15rem;
    font-family: cursive;
    margin-left: 16rem;
    margin-top: 2rem;
}

.turn-display {
    font-size: 25pt;
    margin-bottom: 2rem;
}

.capture-display {
    font-size: 15pt;
}

.capture-display > h2 {
    font-size: 20pt;
    text-decoration: underline;
}

.status-buttons {
    margin-top: 1rem;
    list-style-type: none;
    padding-left: 0;
}
