.piece-container {
    --piece-inner-diameter: calc(var(--piece-diameter) * .9);
    --perspective-margin: calc(var(--piece-inner-diameter) * .04);
    cursor: not-allowed;
    width: var(--piece-diameter);
    height: var(--piece-diameter);
    position: relative;
}

.piece-selectable {
    cursor: pointer;
}

.piece-red {
    --piece-color: red;
    --piece-color-dark: #3f0000;
    --piece-side-color: #c00000;
    --piece-side-color-dark: #280000;
}

.piece-black {
    --piece-color: #3a3a3a;
    --piece-color-dark: #101010;
    --piece-side-color: #2d2d2d;
    --piece-side-color-dark: #000000;
}

.piece-part-base {
    position: absolute;
    left: calc(calc(var(--piece-diameter) - var(--piece-inner-diameter)) / 2);
}

.piece-top {
    background: linear-gradient(var(--light-angle), var(--piece-color), var(--piece-color-dark));
    height: var(--piece-inner-diameter);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: calc(calc(var(--piece-diameter) - var(--piece-inner-diameter)) / 2);
}

.piece-top-inner {
    position: relative;
    width: var(--piece-inner-diameter);
    height: var(--piece-inner-diameter);
}

.crown {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.piece-connector {
    background-color: var(--piece-side-color);
    width: var(--piece-inner-diameter);
    height: var(--perspective-margin);
    position: absolute;
    top: calc(calc(var(--piece-inner-diameter) - calc(var(--perspective-margin))) / 2);
    left: calc(calc(var(--piece-diameter) - var(--piece-inner-diameter)) / 2);
}

.piece-bottom {
    background: linear-gradient(var(--light-angle), var(--piece-side-color), var(--piece-side-color-dark));
    width: var(--piece-inner-diameter);
    height: var(--piece-inner-diameter);
    border-radius: 50%;
    position: absolute;
    top: var(--perspective-margin);
    left: calc(calc(var(--piece-diameter) - var(--piece-inner-diameter)) / 2);
}
