.piece-red {
    --piece-color: red;
}

.piece-black {
    --piece-color: black;
}

.piece {
    background-color: var(--piece-color);
    width: var(--piece-diameter);
    height: var(--piece-diameter);
    border-radius: 50%;
    cursor: not-allowed;
    position: relative;
}

.piece-selectable {
    cursor: pointer;
}

.crown {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}
